/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--Koho);
    background-color: var(--grey);
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

:root {
  --Koho: 'KoHo', sans-serif;
  --Pattaya: 'Pattaya', sans-serif;
  --grey: rgb(242, 248, 250);
  --golden: rgb(243, 219, 139);
  --red: rgba(78, 12, 12, 0.966);
}

#app {
  color: rgb(58, 54, 54);
}

.top-half {
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.title {
  font-family: var(--Pattaya);
  font-size: 500%;
  color: var(--red);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* button */
button {
 background-color: var(--golden);
 color: var(--red);
 font-family: var(--Koho);
 font-size: x-large;
 font-weight: bold;
 border-radius: 1ex;
 border-width: 1px;
 border-color: var(--red);
 height: 2em;
 width: 7em;
 box-shadow: 1px 1px 10px 1px rgb(94, 93, 93);

}

#bottom-half {
  display: flex;
  background-color: var(--grey);
  margin-top: 100px;
}

/* friend list */
#friend-list-div {
  width: 30%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  margin-top: 10px;
  overflow: hidden;
}

#friend-list {
  box-shadow: 5px 5px 20px 5px rgb(68, 67, 67);
  width: 50%;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 5px;
}

#friend {
  font-size: x-large;
  font-weight: normal;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* tweets */
#feed {
  background-color: var(--grey);
  width: 450px;
  margin-right: 10px;
  margin-left: 30%;
}


.profile-photo {
  border-style: hidden;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 4em;
  box-shadow: 5px 5px 15px 1px rgb(37, 36, 36);
}


.tweet {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-right: 0px;
  height: 150px;
  width: 50%;
  min-height: 150px;
  min-width: 450px;
  border: var(--golden);
  border-style: solid;
  border-radius: 5em;
  border-bottom-left-radius: 3em;
  border-top-right-radius: 3em;
  border-width: 3.5ex;
  box-shadow: 5px 5px 20px 5px rgb(37, 36, 36);
}

.right-side {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: hidden;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 2em;
  width: 100%;
  /* background: linear-gradient(to Right, white, var(--golden)) */
}

.username-div {
  font-family: var(--username-font);
  font-size: medium;
  font-weight: bold;
  margin-left: 5px;
  height: 20%;
  color: var(--red);
}

.message {
  font-size: x-large;
  padding: 5px;
}

.time-and-icon-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timestamp {
  justify-content: flex-start;
  padding-left: 5px;
  width: 50%;
  font-style:oblique;
}

.icon-div {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-right: 5px;
}

i {
  font-size: large;
  justify-content: space-around;
  width: 25%;
  text-align: center;
}

/* tweet form */
#tweet-form {
  background-color: var(--grey);
  width: 30%;
  height: 325px;
  box-shadow: 5px 5px 20px 5px rgb(68, 67, 67);
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 100px;
  padding-left: 5px;
  font-size: xx-large;
  font-weight: bold;

  position: fixed;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

#form {
  margin: 5px;
  font-size: large;
  background-color: white;
}

label {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: normal;
}

input {
  margin-bottom: 10px;
  width: 400px;
}

textArea {
  resize: none;
}
/*
#message-input {
  width: 400px;
  height: 100px;
} */