/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--Koho);
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

:root {
  --Koho: 'KoHo', sans-serif;
  --Pattaya: 'Pattaya', sans-serif;
}


#app {
  background-color: lightblue;
  color: black;
  /* display: flex; */
  /* flex-direction: column; */
}

#feed {
  background-color: lightblue;
}

.title {
  font-family: var(--Pattaya);
  font-size: 500%;
}


/* tweet UI */

.tweet {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  height: 150px;
  width: 90%;
}

.right-side {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.username-div {
  font-family: var(--username-font);
  font-size: medium;
  font-weight: bold;
  margin-left: 5px;
  height: 20%;
}

.message {
  font-size: x-large;
  padding: 5px;
}

.time-and-icon-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timestamp {
  justify-content: flex-start;
  padding-left: 5px;
  width: 50%;
  /* background-color: orange; */
}

.icon-div {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  width: 50%;
}

i {
  font-size: large;
  /* background-color: pink; */
  justify-content: space-around;
  width: 25%;
  text-align: center;
}